@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
       font-family: DMSans;
       src: url('../../public/fonts/DM_Sans/DMSans-Regular.ttf');
}

@font-face {
       font-family: Clarendon;
       src: url('../../public/fonts/clarendon-regular/Clarendon-Regular.ttf');
}

@font-face {
       font-family: Barlow;
       src: url('../../public/fonts/Barlow/Barlow-Regular.ttf');
}

@font-face {
       font-family: Barlow;
       src: url('../../public/fonts/Barlow/Barlow-Bold.ttf');
       font-weight: bold;
}

@font-face {
       font-family: Inter;
       src: url('../../public/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

body{ 
       -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@layer base {

       .container-centered {
              @apply lg:container mx-auto px-5;
       }

       .container-centered.snug {
              @apply xl:max-w-[1280px];
       }

       .btn {
              @apply rounded-md px-5 py-2 font-bold tracking-wide hover:translate-y-1 transition;
       }

       .textbox {
              @apply caret-slate-200;
       }

       .popcard {
              @apply w-full rounded-xl bg-white/90 py-6 px-10 shadow-md border-white/20;
       }

       section.pt {
              @apply pt-10 md:pt-20;
       }

       section.pb {
              @apply pb-10 md:pb-20;
       }

       section.pt-sm {
              @apply pt-10;
       }

       section.pb-sm {
              @apply pb-10;
       }
       
}

.showcase-point {
       @apply cursor-pointer w-5 h-5 bg-white absolute flex items-center 
              justify-center rounded-full border border-[1px] border-[#5D5D5D] select-none;
}

.showcase-point .ping {
       @apply absolute w-full h-full border-black rounded-full border border-[1px];
}

.obj-shadow {
       background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(112, 112, 112, 0) 100%);
}

.card {
       @apply will-change-transform cursor-pointer transition-[transform,background] rounded-lg shadow overflow-hidden border border-slate-200 hover:bg-zinc-100 active:scale-95;
}

.before-skew::before {
       content: '';
       position: absolute;
       left: var(--beforeskew-left);
       top: 0px;
       display: block;
       height: 100%;
       width: 0;
       border-bottom: var(--beforeskew-height) solid #4ade80;
       border-left: 12px solid #ffffff00;
}

.radar-button {
       position: relative;
       overflow: hidden;
}

.radar-button:after {
    top: 0px;
    left: -50%;
    transform: skewX(-19deg);
    content: '';
    width: 35%;
    backdrop-filter: invert(1);
    @apply absolute bg-green-500/0 h-full;
}

.radar-button:hover:after {
       animation-name: swipe;
       animation-duration: 0.5s;
       animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.radar-button:active:after {
       animation: none;
}

@keyframes swipe {
       0% {
              left: 0;
       }
       100% {
              left: 110%;
       }
}

.footer-link {
       @apply hover:underline underline-offset-4 cursor-pointer select-none;
}

.top-header {
       @apply flex justify-between items-center py-5 container-centered bg-white md:bg-transparent border-b md:border-0 border-neutral-200;
}

.mobile-header {
       @apply md:!hidden absolute w-full top-[100%] h-[calc(100vh-100%)] bg-white/20 z-10 flex flex-col;
}

.hover-text-effect{
}
.hover-text-effect div:after {
       content: '';
       position:absolute;
       bottom: 0px;
       height: 10px;
       transform: skewX(50deg);
       width: 0%;
       @apply bg-green-500/50 transition-[width];
}

.hover-text-effect div:hover {
       transition: inherit;
       @apply scale-150;
}
.hover-text-effect div:hover:after {
       width:100%;
}